.colortext {
    color: $primary;
}

.colorbg {
    background: $primary;
}

a {
    color: $primary;
}

::selection {
    background: $primary;
}

.navbar-nav > li.active > a, .navbar-nav > li.active > a:hover, .navbar-nav > li.active > a:focus {
    background-color: $primary;
}

.navbar-nav > li.active > a:before, .navbar-nav > li > a:hover:before, .navbar-nav > li > a:focus:before, .extra-nav-class a.dropdown-toggle:before {
    border-bottom: 6px solid $primary;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: $primary;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #426590 !Important;
}

.extra-nav-class a.dropdown-toggle {
    background-color: $primary !Important;
}

.nav-item .nav-link:hover {
    color: #fff !Important;
}

.car-highlight1 {
    background-color: $primary;
}

.car-smallcircle {
    background: $primary;
}

.carouselText2 {
    background: $primary;
}

.icon-box-top i:hover {
    background-color: $primary;
}

.fontawesome-icon.circle-white {
    color: $primary;
}

.grey-box-icon:hover .fontawesome-icon.circle-white, .grey-box-icon.active .fontawesome-icon.circle-white, .active i.fontawesome-icon {
    background-color: $primary;
}

.home-features .icon {
    background: $primary;
}

.copyright {
    background-color: $primary;
}

.panel1 {
    border-left: 6px solid $primary;
}

.buttoncolor {
    background: $primary;
}

.panel, .panel2 {
    border-left: 8px solid $primary;
}

.btn-default {
    background-color: $primary;
}

.btn-minimal:hover {
    color: $primary;
}

#accordion div h4:before {
    background: #426590 url('../img/plus.png') center center no-repeat;
}

#accordion div.active h4:before {
    background: #426590 url('../img/minus.png') center center no-repeat;
}

.sidebar h4 {
    color: $primary;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    color: #426590 !important;
}

blockquote {
    border-left: 5px solid $primary;
}

#skill i {
    background: $primary;
}

.service-fancybox:hover i {
    color: $primary;
}

.service-fancybox:hover {
    background: $primary;
}

.service-fancybox.featured {
    background: $primary;
}

.service-fancybox.featured .circleicon i {
    color: $primary;
}

.service-fancybox.black .circleicon i {
    color: $primary;
}

.cbp_tmtimeline > li .cbp_tmicon {
    background: $primary;
}

.services i {
    color: $primary;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: $primary;
    border-color: $primary;
}

.landingpage-button {
    color: $primary;
}

.landingpage-button {
    color: $primary;
}

.landingpage-button span {
    color: $primary;
}

.landingpage-button strong {
    color: $primary;
}

.landingpage-button i {
    color: $primary;
}

.active-header {
    background: $primary;
}

.active-header:hover {
    background: $primary;
}

#filter ul li .selected {
    background: #426590 !Important;
}

.drop-cap, .captionicons {
    background: $primary;
}

.pageheader-default .semitransparentbg, .bgarea-semitransparent {
    background: rgba(42, 196, 234, 0.80) !important;
}
