
#carousel{
    #carousel-item-1{
        .left, .right {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }

        .left {
            img {
                min-width: 350px;
            }

            .high-preforming-louvers {
                max-width: 510px;
                width: 100%;
                //height: 70px
            }

            .perfect-for-any-condition{
                max-width: 400px;
                width: 100%;
            }
        }

        .right{
            img{
                padding: 30px;
                max-width: 645px;

                @media screen and (max-width: 991px) {
                    max-height: 300px;
                }
            }
        }
    }
}


.news-section {
    .heading-image {
        width: 42px;
        height: 36px;
    }

    .col-md-6 {
        min-height: 200px;

        .article-image {
            width: 124px;
            height: 100px;
            padding-right: 15px;
        }

        .article-text {
            color: #010000;
            font-size: 17px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 17px;
            text-align: left;

            .title {
                display: block;
            }
        }

    }
}

.article-divider {
    border-top: 1px solid #ebebeb;

    .row {
        margin-top: 10px;

        .col-md-6:first-child {
            border-right: 1px solid #ebebeb;
        }
    }
}


.mew-literature {
    color: #010000;
    font-size: 23px;
    line-height: 23px;
    font-weight: 500;
}

.literature-section {
    .literature-images {
        img {
            height: 318px;
        }
    }
}
