// Body
$body-bg: #f8fafc;

// Typography
$font-family-base: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family-sans-serif: Open Sans, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$enable-shadows: true;

// Colors
$blue: #426590;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: $blue;

//  Device sizes
$xlmax-device: 'only screen and (min-width: 1200px) and (max-width: 1599.98px)';
$laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1499px)';
$desktop-device: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$tablet-device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile:'only screen and (max-width: 767px)';
$small-mobile: 'only screen and (max-width: 575px)';
$extra-small-mobile: 'only screen and (max-width: 479px)';