// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~font-awesome/scss/font-awesome';

// Variables
//@import 'variables';

//@import "calypso";
@import "../calypso-theme/scss/theme";
@import "./space";
@import "./color";

.footer-logo{
    width: 316px;
    height: 41px;
    background-color: #fdfafa;
}

.logo-nav{
    img{
        max-width: 200px !important;

        @media (max-width 1021px) {
            max-width: 100px !important;
        }
    }
}

.news-section{
    .col-md-6 {
        min-height: 200px;
    }
}

.article-divider{
    border-top: 1px solid #ebebeb;
    .row{
        margin-top: 10px;

        .col-md-6:first-child {
            border-right: 1px solid #ebebeb;
        }
    }
}
