// Fonts

// Variables
@import 'variables';

// Theme files
@import "./bootstrap-4.3.1/scss/bootstrap";
@import "../calypso-theme/scss/theme";
@import "./color";

// customizations
@import "./nav_custom";
@import "./title_sections";
@import "./containers";

// pages
@import "./homepage";

.footer{
    p {
        margin-bottom: .4em !important;
    }


    .footer-logo {
        width: 316px;
        height: 41px;
        background-color: #fdfafa;
    }
}

#tinynav1{
    @media (min-width: 768px) AND (max-width: 991px) {
        display: none;
    }
}

.bragging-logos {
    & > li {
        margin-right: 10px;
    }

    img {
        height: 55px;
    }
}

//@media
@media screen and (min-width: 991px) {
    .list-louver-pull-left {
        position: relative;
        left: -161px;
    }
}

.select-based-on-push-right {
    margin-left: 20px;
}

.header-icon {
    width: 63px;
    height: 55px;
}

.logo-nav {
    img {
        max-width: 300px !important;
        height: 35px;
        @media (max-width 1021px) {
            max-width: 100px !important;
        }
    }
}



.img-sm {
    max-height: 300px;
}

.what-our-reps-say {
    .quotes {
        list-style: none;

        li {
            font-weight: 600;
            line-height: 48px;
            font-size: 16px;
            text-align: center;
        }

        .name {
            color: #42659f;
            font-weight: 700;
            display: inline-block;
        }
    }
}



.product-table th, .product-table td {
    text-align: center;
    vertical-align: middle;
}

.action-icon {
    cursor: pointer;
    padding: 2px;
    margin: 2px;
}
